* {
    background-color: black;
    color: white;
}

body {
    max-width: 1540px;
    min-width: 720px;
}

p {
    font-size: 50px;
    text-align: left;
    padding-left: 20%;
    /* padding-right: 20%; */
    padding-top: 10%;
    font-family:'Courier New', Courier, monospace;
}

.noel {
    padding-top: 20px;
}

h1 {
    color: white;
    cursor: pointer;
    text-align: right;
    padding-right: 4%;
    font-family: "Courier New", Courier, monospace;
}

h1:hover {
    color: lightblue;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 30px;
}

a:hover {
    color: lightblue;    
}

nav {
    float: right;
    border-top: solid 2px black;
    border-bottom: solid 1px black;
}

img {
    align-items: center;
}

table {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 7%;
    cursor: pointer;
}
